{% extends "base.html" %}
{% load static %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}

<!-- Edit Profile Section -->
<div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 md:p-8 mb-8 max-w-full sm:max-w-lg md:max-w-2xl lg:max-w-4xl mx-auto">
    <h2 class="text-2xl sm:text-3xl font-bold mb-6 text-center text-gray-800">Edit Profile</h2>
    
    <form method="POST" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        
        <!-- Profile Image and Info -->
        <div class="flex flex-col items-center md:flex-row md:items-start md:justify-between space-y-6 md:space-y-0">

            <div class="flex flex-col items-center w-full md:w-1/4">
                {% if profile.image %}
                <img src="{{ profile.image.url }}" alt="Profile Picture" class="w-24 h-24 sm:w-28 sm:h-28 md:w-32 md:h-32 lg:w-40 lg:h-40 rounded-full object-cover mb-4 shadow-md transition-transform transform hover:scale-105">
                {% else %}
                <img src="{% static 'img/default.webp' %}" alt="Profile Picture" class="w-24 h-24 sm:w-28 sm:h-28 md:w-32 md:h-32 lg:w-40 lg:h-40 rounded-full object-cover mb-4 shadow-md transition-transform transform hover:scale-105">
                {% endif %}
            
                <div class="mt-4">
                    <label for="image" class="block text-center text-gray-700 font-semibold mb-2">Change Profile Picture:</label>
                    {{ form.image }}
                </div>
            </div>
            

            <!-- User Info Section -->
            <div class="w-full md:w-2/3 space-y-6">
                <!-- Name Field -->
                <div>
                    <label for="first_name" class="block text-gray-700 font-semibold mb-2">First Name:</label>
                    {{ form.first_name }}
                </div>

                <div>
                    <label for="last_name" class="block text-gray-700 font-semibold mb-2">Last Name:</label>
                    {{ form.last_name }}
                </div>

                <!-- Title Field -->
                <div>
                    <label for="title" class="block text-gray-700 font-semibold mb-2">About:</label>
                    {{ form.about }}
                </div>

                <!-- Description Field -->
                <div>
                    <label for="description" class="block text-gray-700 font-semibold mb-2">Description:</label>
                    {{ form.description }}
                </div>

                <!-- Phone Field -->
                <div>
                    <label for="contact" class="block text-gray-700 font-semibold mb-2">Phone:</label>
                    {{ form.contact }}
                </div>

                <!-- Address Field -->
                <div>
                    <label for="address" class="block text-gray-700 font-semibold mb-2">Address:</label>
                    {{ form.address }}
                </div>

                <!-- Facebook Field -->
                <div>
                    <label for="facebook" class="block text-gray-700 font-semibold mb-2">Facebook:</label>
                    {{ form.facebook }}
                </div>

                <!-- Instagram Field -->
                <div>
                    <label for="instagram" class="block text-gray-700 font-semibold mb-2">Instagram:</label>
                    {{ form.instagram }}
                </div>

                <!-- Linkedin Field -->
                <div>
                    <label for="linkedin" class="block text-gray-700 font-semibold mb-2">LinkedIn:</label>
                    {{ form.linkedin }}
                </div>

                <!-- Twitter Field -->
                <div>
                    <label for="twitter" class="block text-gray-700 font-semibold mb-2">Twitter:</label>
                    {{ form.twitter }}
                </div>

                <!-- WhatsApp Field -->
                <div>
                    <label for="whatsapp" class="block text-gray-700 font-semibold mb-2">WhatsApp:</label>
                    {{ form.whatsapp }}
                </div>

                <!-- Telegram Field -->
                <div>
                    <label for="telegram" class="block text-gray-700 font-semibold mb-2">Telegram:</label>
                    {{ form.telegram }}
                </div>

                <!-- Github Field -->
                <div>
                    <label for="github" class="block text-gray-700 font-semibold mb-2">Github:</label>
                    {{ form.github }}
                </div>
            </div>
        </div>

        <!-- Save and Change Password Buttons -->
        <div class="mt-6 flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
            <button type="submit" class="bg-blue-600 text-white font-semibold px-4 py-2 sm:px-6 sm:py-3 rounded-lg shadow hover:bg-blue-700 transition duration-200">
                Save Changes
            </button>
            {% comment %} <a href="{% url 'password_change' %}" class="bg-gray-500 text-white font-semibold px-4 py-2 sm:px-6 sm:py-3 rounded-lg shadow hover:bg-gray-600 transition duration-200">
                Change Password
            </a> {% endcomment %}
        </div>
    </form>
</div>


{% endblock content %}