{% extends "base.html" %}
{% load static %}
{% block title %} {{  }} {% endblock title %}
{% block content %}

<div class="container mx-auto">
    <div class="text-center">
        <h1 class="text-5xl font-bold text-text_col">Featured Product</h1>

        <ul class="flex  justify-center gap-7 font-medium my-7">
          {% for department in departments %}
            <li><a href="{{ department.link }}" class='hover:underline hover:text-blue-600'>{{ department.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
{% comment %} show product {% endcomment %}
    <div class="w-11/12 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {% for product in products %}
        <div class="card card-compact bg-base-100 shadow-xl">
            <figure>
              <img
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
                class="h-56 w-64 object-cover" />
            </figure>
            <div class="card-body">
              <div class='flex justify-between sm:flex-row sm:justify-between'>
                <h2 class="card-title text-xl font-semibold">{{ product.name }}</h2>
                <h2 class="card-title text-xl font-semibold">{{ product.selling_price }} Tk</h2>
            </div>
              <p class="mt-2">{{ product.description }}</p>
              <div class="card-actions justify-end mt-4">
                <a href="{% url 'product_details' product.id %}" class="btn bg-primary">Buy Now</a>
            </div>
          </div>
      </div>
      {% endfor %}
   </div>
{% comment %} show product end {% endcomment %}


{% endblock content %}