{% extends "base.html" %}
{% load static %}
{% block title %}Shop{% endblock title %}
{% block content %}

    <h2>Shop page</h2>

    <div class="container mx-auto p-6 bg-white border shadow-lg">
        <!-- Department Section -->
        <div class="flex justify-center mb-6">
            <button class="px-6 py-3 bg-gray-200 rounded-full border border-gray-300 text-gray-700 font-bold">
                Department
            </button>
        </div>

        <!-- Grid Section -->
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mb-10 p-4 border">
            <!-- Example of the 8 boxes -->
            <div class="w-full h-52 bg-gray-200 border"></div>
            <div class="w-full h-52 bg-gray-200 border"></div>
            <div class="w-full h-52 bg-gray-200 border"></div>
            <div class="w-full h-52 bg-gray-200 border"></div>
            <div class="w-full h-52 bg-gray-200 border"></div>
            <div class="w-full h-52 bg-gray-200 border"></div>
            <div class="w-full h-52 bg-gray-200 border"></div>
            <div class="w-full h-52 bg-gray-200 border"></div>
        </div>

        <!-- Button Section -->
        <div class="flex justify-center">
            <button class="px-6 py-3 bg-blue-500 text-white rounded-full shadow-lg">
                Click me
            </button>
        </div>
    </div>

{% endblock content %}